.loginForm{
    height: 90vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    form{
        height: 50%;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.349);
        label{
            div{
                margin:20px 0 20px 0;
            }
            .inputLogin{
                height: 2vw;
                width: 30vw;
                padding-left: 20px;
            }
        }

        .inputSubmit{
            height: 30px;
            width: 60px;
            margin-top: 40px;
        }
    }
}